/* App.css */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 80%;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  width: 300px;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.okito {
  font-weight: lighter;
  color:lightgreen
}

.user {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.user img {
  border-radius: 50%;
  margin-right: 10px;
}

.user a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.list-user{
  font-weight: 600;
  text-decoration: underline
}
